.dialogs{
    display: grid;
    padding: 10px;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{

}


.dialog{
    color: #444444;
    margin-bottom: 4px;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.active{
    color: red;
}

.messages{
    margin-left: 10px;
}

.message{
    max-width: 300px;
    background: #fff;
    border-radius: 4px;
    padding: 6px;
    margin-bottom: 8px;
}

.img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 6px;
    border: 1px solid transparent;
}

.active .img{
    border: 1px solid red;
}

textarea{
    display: block;
    margin-bottom: 10px;
}