.nav{
  grid-area: n;
  background-color:bisque;
}

.nav .ul{
  list-style-type: none;
  padding-left: 10px;
}

.nav .ul a{
  text-decoration: none;
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
  padding-left: 6px;
  color: #444;
  transition: all 0.4s;
}

.nav .ul a:hover{
  color: red;
}

.nav .ul a.active{
  color: red ;
}

.friendsWrap{
  margin-top: 60px;
}

.friendsTitle{
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.friends{
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.friendItem{
  text-align: center;
}

.friendImg{
  width: 44px;
  height: 44px;
  margin: auto;
}

.friendImg img{
  width: 44px;
  height: 44px;
  margin: auto;
}